doctype html
html
  head
    title Raygun Lunchtime
    link(rel='stylesheet', href='/css/vendor/compiled.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='/js/vendor/compiled.js')
  body
    .container
        block content